<% if (title) { %>
    <h1><%= title %></h1>
  <% } else { %>
    <h1>Oops! Something went wrong</h1>
  <% } %>
  
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <div class="form-container">
      <form  action="/account/register" method="post" id="register">
        <label for="accountFirstname">First name</label>
        <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
         
        <label for="accountLastname">Last name</label>
        <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">
        <label for="accountEmail">Email address</label>
        <input type="text" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">
         
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          name="account_password"
          required 
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        >
        <small>
            Password must be at least 12 characters, include 1 uppercase letter, 1 number, and 1 special character.
          </small>
  
        <button type="submit">Register</button>
      </form>                          
  </div>