<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Oops! Something went wrong</h1>
<% } %>

<% if (messages && messages.notice) { %>
  <div class="notice">
    <%= messages.notice %>
  </div>
<% } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form id="<%= isEdit ? 'updateForm' : '' %>" action="<%= formAction %>" method="post">

  <label for="classification_id">Classification</label>
  <%- classificationList %>


  <label>Make</label>
  <input name="inv_make" required value="<%= inv_make || '' %>">

  <label>Model</label>
  <input name="inv_model" required value="<%= inv_model || '' %>">

  <label>Year</label>
  <input name="inv_year" required value="<%= inv_year || '' %>">

  <label>Price</label>
  <input name="inv_price" required value="<%= inv_price || '' %>">

  <label>Mileage</label>
  <input name="inv_miles" required value="<%= inv_miles || '' %>">

  <label>Color</label>
  <input name="inv_color" required value="<%= inv_color || '' %>">

  <label>Description</label>
  <textarea name="inv_description"><%= inv_description || '' %></textarea>

  <input name="inv_image" value="/images/vehicles/no-image.png">
  <input name="inv_thumbnail" value="/images/vehicles/no-image.png">

  <button type="submit" <%= isEdit ? 'disabled' : '' %>>
    <%= buttonText %>
  </button>

  <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
  <% } %>>
</form>

<% if (formAction.includes("/update/")) { %>
  <script src="../../js/inv-update.js"></script>
<% } %>
